@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=PT+Sans&display=swap');

h1 {color: red; font-family: Verdana, sans-serif}	
html {background: purple}
#Test {color: green;}
.TestC {font-family: 'Ephesis', cursive;}

footer { display: block; text-align: center; }
	footer > a {}
		footer> a > img {height: 200px;}
		footer> a > #t1 {height: 200px; float: right;}
